**/archive/**
**/generated/**
**/legacy/**
**/src/matrix/**
**/src/telegram/**
**/src/irc/**
**/build/**
**/@prisma-moodle/**
**/placeholder/**
**/__tests__editreply_/**
**/__tests__integration__/**
**/__tests__modals__/**
**/__tests__send__/**
**/__tests__todo__/**
src/discord/tests/*.test.ts