aiohttp==3.7.4.post0
astroid==2.11.2
async-timeout==3.0.1
attrs==21.4.0
certifi==2021.10.8
chardet==4.0.0
charset-normalizer==2.0.12
colorama==0.4.4
dill==0.3.4
idna==3.3
isort==5.10.1
lazy-object-proxy==1.7.1
mccabe==0.7.0
multidict==6.0.2
platformdirs==2.5.1
py-cord==2.0.0b5
pylint==2.13.3
python-dotenv==0.20.0
requests==2.27.1
tomli==2.0.1
typing_extensions==4.1.1
urllib3==1.26.9
wrapt==1.14.0
yarl==1.7.2
