name: PullRequestOpen

on:
  pull_request:
    branches:
      - main
      - development
    types:
      - opened
      - synchronize
      - reopened
    paths-ignore:
      - '**/archive/**'
      - '**/legacy/**'
      - '**/matrix/**'
      - '**/telegram/**'
      - '**/irc/**'
      - '**/jest/**'
      - '**/build/**'
      - '**/@prisma-moodle/**'

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    env:
      NODE_OPTIONS: --max-old-space-size=7168
    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js '22.9.0'
      uses: actions/setup-node@v3
      with:
        node-version: '22.9.0'
        cache: 'npm'
    - name: Update npm
      run: npm install -g npm && npm --version
    - name: Install eslint
      run: npm install eslint @typescript-eslint/eslint-plugin @typescript-eslint/parser eslint-config-airbnb-base eslint-config-airbnb-typescript eslint-config-google eslint-import-resolver-typescript eslint-plugin-import eslint-plugin-jest eslint-plugin-sonarjs --save-dev && npx eslint --version
    - name: Linting
      run: npx eslint --ext .ts,.js .
  # test:
  #   name: Test
  #   runs-on: ubuntu-latest
  #   steps:
  #   - uses: actions/checkout@v3
  #   - name: Use Node.js '22.9.0'
  #     uses: actions/setup-node@v3
  #     with:
  #       node-version: '22.9.0'
  #       cache: 'npm'
  #   - name: Update npm
  #     run: npm install -g npm && npm --version
  #   - name: Install dependencies
  #     run: npm ci
  #   - name: Copy env
  #     run: cp .env.example .env
  #   - name: Test
  #     run: npx jest --silent -c ./src/jest/jest.unit.config.ts
  codeql:    
    name: CodeQL
    runs-on: ubuntu-latest
    env:
      NODE_OPTIONS: --max-old-space-size=7168
    permissions:
      actions: read
      contents: read
      security-events: write
    strategy:
      fail-fast: false
      matrix:
        language: [ 'javascript' ]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Initialize CodeQL
        uses: github/codeql-action/init@v2
        with:
          languages: javascript
      - name: Autobuild
        uses: github/codeql-action/autobuild@v2
      - name: Perform CodeQL Analysis
        uses: github/codeql-action/analyze@v2
        with:
          category: "/language:javascript"